.mainButton {
  width: 225px;
  height: 35px;
  margin: var(--margin-large);
  padding: var(--padding-large), var(--padding-large), var(--padding-large);
  border-radius: var(--border-radius-10);
  font-size: var(--font-size-14);
  text-align: center;
  background-color: var(--primary-100);
  box-shadow: var(--box-shadow-basic);
}