.filterButton {
  width: 200px;
  height: 90px;
  margin: 150px;
  padding: var(--padding-small) var(--padding-basic);
  border: 1px solid var(--bg-100);
  border-radius: var(--border-radius-10);
  font-size: var(--font-size-18);
  text-align: left;
  line-height: 40px;
  background-color: var(--primary-100);
}

.text{
  text-align: left;
  font-size: var(--font-size-24);
  font-weight: bold;
  color: var(--text-300);
}